body {
	margin: 10px;
}

.objective {
    background-color: #fff;
    width: 100%;
	min-width: 1000px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.widget {
    margin: 0 auto;
    width:100%;
    margin-top:50px;
    background-color:#fff;
    -background-color: #222D3A;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
	text-align: center;
}

.header{
    background-color: #eee;
    height:40px;
    width: 100%;
    color:#555;
    text-align: center;
    line-height: 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: 400;
    font-size: 1.5em;
    text-shadow: 1px 1px #fff;
    border-bottom: 1px solid #eaeaea;
}

.legend	{
	font-size: 12px;
}

rect {
	stroke-width: 2;
}	

path {
	opacity: 0.75;
}

.hover {
	opacity: 1;
}

#chart1 {
	position: relative;
}

#chart2 {
	position: relative;
}

.x-axis {
	font-size: 12px;
}

.tooltip {
	border-radius: 5px;
	width: auto;
	padding: 10px;
	background:	#fff;
	box-shadow:	0 0	5px	#999999;
	color: #333;
	font-size: 12px;
	text-align:	left;
	position: absolute;
	z-index: 10;
	display: none;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
}

.tooltip .label {
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
	text-transform: uppercase;
	margin-bottom: 10px;
	white-space: nowrap;
}

.tooltip .total {
	position: relative;
	right: 0;
	border-top: solid 1px #bbb;
	margin-top: 10px;
	padding-top: 10px;
}

.tooltip .text {
	font-size: 1em;
	text-align: center;
	font-weight: bold;
}

.selected {
	font-weight: bold;
}

.chart3-container{
    padding:25px;
    height: 550px;
    position: relative;
}

.xAxisQ3 path,
.xAxisQ3 line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.xAxisQ3-label {
	position: absolute;
	top: 525px;
	width: 100%;
	text-align: center;
	font-weight: bold;
}
